<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List</title>
</head>
<body>
  
  <h1 style="text-align: center;">Gudang</h1>

  <a href="/item" style="text-align: center;"> List gudang </a>
  <a href="/item/add" style="text-align: center;"> Tambahkan Barang </a>


</body>
</html>